/* Blobs */
.heading_blob {
  position: absolute;
  top: 0;
  width: 21%;
  z-index: -1;
}

.heading_blob img {
  width: 100%;
}

.blob_bg {
  position: absolute;
  width: 24%;
  right: 0;
  top: 25%;
  z-index: -1;
}

.blob_bg img {
  max-height: 700px;
  width: 100%;
}

/* Bouncing down arrow */

.bounce {
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
