@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: #aa0a5f;
  text-decoration: none;
  transition: 0.3s;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.row {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.col-xl-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
