/* Header */

#header {
  width: 100%;
  /* position: relative; */
  z-index: 1000;
}

.header_wrapper {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header_wrapper .logo {
  align-self: flex-end;
}

.header_wrapper .logo img {
  max-width: 60px;
  opacity: 0.6;
}

.header_wrapper .main-menu {
  padding: 12px 0;
}

.header_wrapper li {
  display: inline-block;
  margin: 0 10px;
}

.header_wrapper li a {
  color: #727272;
  font-size: 15px;
  text-transform: capitalize;
}

.header_wrapper li a:hover {
  color: #f06657;
}

.contact_btn a {
  padding: 11px 26px;
  font-weight: 500;
  border: 1px solid #f06657;
  border-radius: 30px;
}

.contact_btn a:hover {
  color: #fff;
  background: #f06657;
}

/* Landing page */

.main-content {
  width: 75%;
}

.hero {
  position: relative;
}

.hero_img {
  position: relative;
  text-align: center;
}

.hero_img img {
  width: 70%;
  opacity: 0.6;
}

.hero_round {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_title {
  background-color: #fff;
  border-radius: 30px;
  opacity: 0.85;
  padding: 30px;
}

.hero_title h3 {
  color: #000;
  font-size: 32px;
  text-transform: capitalize;
}

.hero_arrow {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Landing page content */

.blog_item_img {
  position: relative;
}

.blog_item_img .blog_item_date {
  position: absolute;
  bottom: -20px;
  left: 40px;
  display: block;
  color: #fff;
  background-color: #f06657;
  padding: 8px 15px;
  border-radius: 5px;
}

.blog_item_img .blog_item_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

.blog_item_img .blog_item_date p {
  font-size: 18px;
  margin: 0;
  color: #fff;
}

.card-img {
  width: 100%;
}

/* Landing page services */

.three-column-section .single_feature {
  margin-bottom: 60px;
}

.three-column-section .single_feature img {
  width: 90px;
}

.three-column-section .single_feature h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 13px;
  font-weight: 400;
}

.three-column-section .single_feature p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 28px;
  color: #727272;
}

/* Landing page blog */

.blog_details {
  padding: 60px 30px 35px 35px;
}

.blog_details p {
  margin-bottom: 30px;
}

.blog_details a:hover {
  color: #f06657;
}

.blog_details h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .blog_details h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.blog-info-link li {
  float: left;
  font-size: 14px;
}

.blog-info-link li a {
  color: #999999;
}

.blog-info-link li i,
.blog-info-link li span {
  font-size: 13px;
  margin-right: 5px;
}

.blog-info-link li::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}

.blog-info-link li:last-child::after {
  display: none;
}

.blog-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table;
}

/* Sidebar */

.sidebar {
  width: 30%;
  padding-left: 15px;
}

.sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
}

.sidebar .widget_title::after {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #f0e9ff;
}

.sidebar .news-widget,
.sidebar .instagram-widget,
.sidebar .newsletter-widget {
  padding: 30px;
  margin-bottom: 30px;
}

.sidebar .news-widget .widget_post {
  display: flex;
}

.sidebar .news-widget .widget_post img {
  height: 55px;
}

.sidebar .news-widget .widget_post .widget_text {
  padding-left: 20px;
}

.sidebar .news-widget .widget_post .widget_text h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
}

.sidebar .news-widget .widget_post .widget_text p {
  font-size: 14px;
  margin-bottom: 0px;
}

.sidebar .news-widget .widget_post + .widget_post {
  margin-top: 20px;
}

.sidebar .instagram-widget .widget_row {
  display: flex;
  margin-right: -6px;
  margin-left: -6px;
  flex-wrap: wrap;
}

.sidebar .instagram-widget .widget_row li {
  width: 33.33%;
  float: left;
  padding: 0 6px 6px 6px;
}

.sidebar .instagram-widget .widget_row img {
  width: 100%;
}

/* Pricing area */

.three-column-section .single_pricing {
  padding: 45px 35px;
}

.three-column-section .single_pricing .icon {
  width: 95px;
  height: 95px;
  background: #f5f5ff;
  border-radius: 50%;
  line-height: 95px;
  margin: auto;
}

.three-column-section .col-one-third:nth-child(2) .single_pricing .icon {
  background: #fff0f8;
}

.three-column-section .col-one-third:nth-child(3) .single_pricing .icon {
  background: #effdf5;
}

.three-column-section .single_pricing .icon img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.three-column-section .single_pricing h3 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 24px;
  padding-bottom: 3px;
}

.three-column-section .single_pricing li {
  color: #727272;
  font-size: 15px;
  line-height: 28px;
}

/* Gallery */

.single-gallery-image {
  width: 100%;
  margin-bottom: 20px;
}

/* Timetable */

.timetable {
  padding-bottom: 24px;
}

.timetable h3 {
  font-weight: 400;
  padding: 24px 30px;
  margin-bottom: 24px;
  background-color: #f5f5ff;
}

.row .col-one-third:nth-child(2) .timetable h3 {
  background-color: #fff0f8;
}

.row .col-one-third:nth-child(3) .timetable h3 {
  background-color: #effdf5;
}

.timetable h3 b {
  font-weight: 500;
}

.timetable .day {
  width: 60%;
  padding-left: 30px;
}

.timetable .time {
  width: 40%;
}

.timetable .table-head {
  display: flex;
}

.timetable .table-head .day,
.timetable .table-head .time {
  color: #415094;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.timetable .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

.timetable .table-row .day,
.timetable .table-row .time {
  display: flex;
  align-items: center;
}

/* Contact */

.single-input {
  display: block;
  width: -webkit-fill-available;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  margin-bottom: 10px;
}

.single-input:focus {
  outline: none;
}

.input-group-icon .single-input {
  padding-left: 45px;
}

.single-textarea {
  width: 100%;
  line-height: 40px;
  border: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 90px;
  resize: none;
  margin-bottom: 30px;
}

.single-textarea:focus {
  outline: none;
}

.newsletter {
  display: flex;
  align-items: center;
}

.newsletter p {
  font-size: 15px;
  padding-left: 10px;
}

.newsletter-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.newsletter-checkbox input {
  opacity: 0;
}

.newsletter-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f06657;
}

.newsletter-checkbox input:checked + label {
  background: url(../img/primary-check.png) no-repeat center center/cover;
  border: none;
}

/* Footer */
#footer p {
  padding: 30px 0;
  font-size: 15px;
  color: #919191;
  background: #002140;
}

/* Schema */
.schema {
  text-align: -webkit-center;
}

.schema_body {
  width: 800px;
  background: red;
}

.schema_header {
  height: 70px;
  width: 100%;
  background: yellow;
}

.schema_heading {
  height: 110px;
  width: 100%;
  background: green;
}

.schema_pricing {
  height: 300px;
  width: 100%;
  background: red;
}

.schema_row {
  height: 200px;
  width: 70%;
  background: orange;
}

.schema_cols {
  display: flex;
  justify-content: space-between;
}

.schema_col {
  width: 30%;
  height: 165px;
  background: yellow;
}

.schema_footer {
  height: 50px;
  width: 100%;
  background: yellow;
}
